[submodule "distributed_mmio"]
	path = distributed_mmio
	url = https://github.com/HicrestLaboratory/distributed_mmio.git
	branch = tmp
[submodule "ccutils"]
	path = ccutils
	url = https://github.com/ThomasPasquali/ccutils.git
[submodule "kokkos"]
    path = kokkos
    url = https://github.com/kokkos/kokkos.git
[submodule "kokkos-kernels"]
    path = kokkos-kernels
    url = https://github.com/kokkos/kokkos-kernels.git
[submodule "bcl"]
	path = bcl
	url = https://github.com/Hooninator/bcl
