.vscode
.kdev4/
HnS-SpGEMM.kdev4
.venv/

comparison/ccutils/
comparison/build/
comparison/build_*/
build/
build_*/
results/
SbatchMan/

.venv/
interactive_results/
interactive_results_2/
small_matrices/
kokkos/
kokkos-kernels/
Trilinos/

*.out
*.bmtx
CMakeCache.txt
CMakeFiles/

plots_wave4/
results_wave4/

sync_to_cluster.sh